form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input {
  padding: 8px;
  border: 2px solid gray;
  border-radius: 5px;
}

input.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  width: fit-content;
  padding: 8px 12px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}